@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.react-tabs__tab-list {
  list-style: none;
  padding: 0;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid #aaa;
  border-bottom: none;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1em;
}
.react-tabs__tab--selected {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
}
.react-tabs__tab-panel {
  position: absolute;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 2em;
  border: 1px solid #ccc;
  overflow: auto;
}
.react-tabs__tab-panel--hidden {
  display: none;
}
